body{
    background-color: lightpink;
}
h1{
    text-align: center;
    font-size: 40px;
}

.container{
    display: flex;
    justify-content: space-between;
}
.box{
    width: 250px;
    height: 250px;
    border: 1px solid grey;
    background-color: lightcoral;
    animation:mymove 2s 1s infinite alternate;

}

@keyframes mymove {
     from {top: 0px; transform: translateX(200px);}
     50% {background: rgb(255, 0, 149);transform: translateY(150px);} 
     to {top: 200px;}
    }



